@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Satisfy&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* this is a test */

/* GENERAL RULES */

* {
  box-sizing: border-box;
 
}

.page {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  min-width: 1280px;
  
}

body {
  background-color: whitesmoke;

}

h2,
h3,
p,
form,
.menu__list {
  font-family: "Open Sans", Roboto, Helvetica, sans-serif;
}

/* LEFT SIDE OF THE PAGE */

.left {
  border: none;
  margin-top: 50px;
}

.left__image {
  width: 80%;
}

/* RIGHT SIDE OF THE PAGE */
/* why does flex center not work */

.right {
  border: 1px solid rgb(219, 219, 219);
  margin-top: 50px;
  background-color: white !important;
  width: 350px;
  height: 383px;
  align-items: center;
  display: flex;
  flex-flow: column;
  align-content: center;
  
}
/*INSTAGRAM TITLE*/

.right__title {
  font-family: Satisfy, cursive, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 45px;
  left: 55px;
  width: 300px;
  display: flex;
  justify-content: center;
  /* border-left: 1px solid rgb(219, 219, 219); */
  /* border-right: 1px solid rgb(219, 219, 219); */
}

/* FORM */

input {
  border: 1px solid rgb(219, 219, 219);
  width: 258px;
  height: 36px;
  font-size: 14px;
  background-color: whitesmoke;
  color: rgb(219, 219, 219);
  margin: 3px;
  padding: 9px 0 7px 8px;
  margin-left: 35px;
}

.right__form--button {
  border: 1px solid rgb(219, 219, 219);

  height: 36px;
  margin: 3px;
  padding: 9px 0 7px 8px;
  font-size: 14px;
  background-color: lightblue;
  color: white;
  font-size: 14px;
  margin-left: 35px;
  width: 278px;
}

.right__or {
  
  color: dimgray;
  font-size: 14px;
  font-weight: 400px;
  text-align: center;
}

/* OTHER LOGIN OPTIONS */

.fa-facebook-f{
  font-size: 12px;
  color: white !important;
  background-color: #385185;
  width: 15px;
  height: 15px;
  text-align: right;
  margin-right: 6px;
  
  }

  .right__fb {
  color: #385185;
  font-weight: 700;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.right__fb--forgot {
  color: #385185;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.right__information--acc {
  border: 1px solid rgb(219, 219, 219);
  font-size: 14px;
  background: white;
  width: 350px;
  text-align: center;
  margin-top: 35px;
  padding: 23px 0;

}

.right__information--acc--blue {
  color: rgb(0, 149, 246);
  font-size: 14px;
}

.right__app {
font-size: 13px;
font: bold;
text-align: center;
}

/* BUTTONS FOR THE APP */

.right__pages{
  display: flex;
  justify-content: center;
  }

.right__pages--ios {
  background-color: black;
  color: white;
  height: 40px;
  width: 134.2px;
  border-radius: 6px;
  padding: 2px 2px;
  margin-right: 10px;
}

.fa-apple {
font-size: 28px;
color: white;
float: left;
background-color: #000 ;

}

.right__pages--ios span {
  font-size: 15px;
  text-transform: none;
  background-color: black;
}

.right__pages--google {
  background-color: black;
  color: white;
  height: 40px;
  width: 134.2px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400px;
  border-radius: 6px;
  text-align: center;
  background-color: black;
}

.right__pages--google span {
  font-size: 15px;
  text-transform: none;
  display: block;
  background-color: black;
}

/* BOTTOMO NAV BAR */

footer {
margin-top: 50px;
background-color: whitesmoke;
}

.copyright {
  color: dimgray;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 30px;
}

.menu__list {
  display: flex;
  justify-content: center;
  color: rgb(0, 55, 107);
  font-size: 12px;
  list-style: none;
  align-items: flex-end;
  letter-spacing: 0.03em;
}

.menu__list li {
  margin-right: 10px;
  font-weight: 600;
}

/* MEDIA QUERIES */

@media screen and (min-width: 321px) and (max-width: 768px) {
  form {
   
    width: 100%;
  }
  input {
    
    width: 80%;
  }
}

.page{    
  min-width: 1280px;
 
  
}
@media screen and (max-width: 320px) {
  .page{
    min-width: 320px;
    border: 2px solid red;
    height: auto;
  }
  body{
    height: auto;
  }
 
  .left{
    display: none;
  }
  .right{
    border: 2px solid red;
    max-width: 100%;
    margin: 0;
    height: auto;
  }
  .right__form{
    margin-bottom: 40px;

  }
  .right__title{
    max-width: 100%;
  }
  .right__information{
    border: 2px solid red;
    margin: 0;
    padding: 0;

  }
  .footer{
    max-width: 100%;
  }
  .menu__list {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    
    border: 1px solid red;
  }
  .right__signup{
    max-width: 320px;
    margin: 0;
    padding: 0;

  }

  /* .page {
     min-width: 320px;
     height: auto;
  }

  body {
    max-width: 320px;
    border: 2px solid purple;
    
  }

  .left {
    display: none;
  }

  .right {
    justify-self: start;
    max-width: 100%;
    margin-top: 0;
    border: 1px solid blue;
   
  }

  .right__title {
    max-width: 300px;
    
    border: 1px solid red;
  }

    footer {
      margin-top: 180px;
      border: 1px solid red;
    }

    .menu__list {
      max-width: 320px;
      display: flex;
      flex-wrap: wrap;
      
      border: 1px solid red;
    }
    .right__signup {
      border: 1px solid blue;
      width: 282px;
      font-size: 6px;
    }
    .right__app {
      border: 1px solid red;
    }

    .right__pages {
      border: 1px solid red;
    } */
} 

@media screen and (min-width: 321px) and (max-width: 768px)
{
   .page{
       min-width: 768px;
   }
}   

@media screen and (min-width: 769px) and (max-width:  1024px ){
  .page{
      min-width: 1024px;
  } 
}